*{
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;
	font-size: 15px;
}

html{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body{
	margin: 0;
	padding: 0;
}

.layar-dalam{
	width: 1000px;
	margin: auto;
}

.layar-penuh{
	width: 100%;
}

nav{
	z-index: 100;
	color: #fff;
	text-align: center;
	position: fixed;
	border-bottom: 1px solid #b1b1b1;
	line-height: 100px;
	width: 100%;
	transition: background-color 0.5s ease;
}

nav .logo{
	float: left;
	position: relative;
	line-height: 55px;
	text-align: center;
}

nav .logo img{
	vertical-align: middle;
	width: 150px;
}

nav .menu{
	float: right;
	height: 60px;
	max-width: 700px;
}

nav .menu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav .menu ul li{
	list-style-type: none;
	float: left;
	line-height: 60px;	
}

nav ul li a{
	color: #fff;
	text-align: center;
	padding: 0px 16px;
	text-decoration: none;
	transition: 0.5s;
}

nav ul li a:hover{
	text-decoration: underline;
}

/*PENGATURAN HEADER*/
header{
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	z-index: 2;
}

header video{
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	z-index: -2;
}

header .intro{
	z-index: 100;
	color: #fff;
	text-align: center;
	position: relative;
	top: 50%;
}

header .intro h3{
	font-size: 50px;
	margin: 0;
	padding: 0;
}

.tombol{
	display: inline-block;
	padding: 10px 35px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #007c31;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 2px #999;
}

.tombol:hover{
	transition: all 0.2s ease-in-out;
	/*transform: scale(1.1);*/
	background-color: #3e8e41;
}

.tombol:active {
  	background-color: #3e8e41;
  	box-shadow: 0 0px #999;
  	transform: translateY(2px);
}

header .overlay{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 50%;
	z-index: -1;
}

.tombol-menu{
	position: absolute;
	top: 1.7rem;
	right: 1rem;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 20px;
}

.tombol-menu .garis{
	height: 3px;
	background-color: #fff;
}

section{
	padding: 50px 0px;
}

section h3{
	font-size: 30px;
}

section h3::after{
	content: "";
	border-bottom: 5px solid #007c31;
	width: 52px;
	display: block;
	margin: 20px auto;
}

#tentang, 
#explore,
#team,
#berita{
	text-align: center;
}

section p.ringkasan{
	font-style: italic;
	font-size: 18px;
	color: #ababab;
}

section .konten-isi p{
	font-style: normal;
}

nav.putih{
	background-color: #fff;
}

nav.putih .tombol-menu .garis{
	background-color: #333;
}

nav.putih ul li a{
	color: #333;
}

section.abuabu{
	background-color: #f5f6f6;
}

.tim,
.berita{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.tim h6{
	margin: 0px;
	margin-top: 20px;
	padding: 0px;
	font-size: 18px;
	font-weight: bold;
}

.tim div{
	text-align: center;
	width: 26%;
}

section.quote{
	background: url('../../assets/image/background-bromo.jpg') no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-style: italic;
	padding: 100px;
}

section.quote .layar-dalam p{
	display: inline;
	background: url('../../assets/image/quote-icon.png') no-repeat;
	padding: 40px;
}

.tim img{
	width: 100%;
	box-shadow: 0px -10px 30px #ccc;
	border-radius: 5px;
}

.berita .area{
	width: 47%;
	box-shadow: 0px -10px 30px #ccc;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.berita div.area div{
	width: 50%;
}

.berita .area .gambar{
	border-radius: 5px 0px 0px 5px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 300px;
}

.berita .area .text article{
	padding: 40px;
}

.berita .area .text article h4{
	margin: 0px;
}

.berita .area .text article a{
	color: #333;
	text-decoration: none;
	transition: color 0.5s ease;
}

.berita .area .text article a:hover{
	color: #007c31;
}

footer{
	padding: 50px 0px;
	background-color: #343a40;
	color: #fff;
}

footer .layar-dalam{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer .layar-dalam div{
	width: 20%;
}

footer .layar-dalam h5{
	margin-top: 0px;
	font-size: 20px;
	font-weight: bold;
}

footer .layar-dalam .copyright{
	width: 100%;
	margin-top: 30px;
	padding-top: 30px;
	border-top: 1px solid #666;
	text-align: center;
}

footer .layar-dalam .copyright span{
	text-transform: uppercase;
}

footer .layar-dalam span a{
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	transition: 0.5s;
	font-weight: bold;
}

footer .layar-dalam span a:hover{
	color: #007c31;
}

a{
	text-decoration: none;
}

.box{
	width: 200px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	border-radius: 10px;
	overflow: hidden;
	margin: 20px;
}

.slide-img{
	height: 200px;
	position: relative;
}

.slide-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	box-sizing: border-box;
}

.detail-box{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	box-sizing: border-box;
	font-family: calibri;
}

.type{
	display: flex;
	flex-direction: column;
}

.type a{
	color: #222222;
	margin: 5px 0px;
	font-weight: 700;
	font-size: 0.8rem;
	font-family: poppins;
	letter-spacing: 0.5px;
	padding-right: 8px;
	text-align: center;
	align-items: center;
}

.type span{
	color: rgba(26, 26, 26, 0.5);
}

.overlay{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
}

.buy-btn{
	width: 160px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	color: #252525;
	font-weight: 700;
	letter-spacing: 1px;
	font-family: calibri;
	border-radius: 20px;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.buy-btn:hover{
	color: #ffffff;
	background-color: #007c31;
	transition: all ease 0.3s;
}

.overlay{
	visibility: hidden;
}

.slide-img:hover .overlay{
	visibility: visible;
	animation: fade 0.5s;
}


@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}


@media screen and (max-width: 991.98px){
	.layar-dalam{
		width: 90%;
	}

	nav .menu ul{
		display: none;
		margin-top: 60px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	nav .menu ul li{
		width: 100%;
		border-bottom: 1px solid #ccc;
		background-color: #fff;
		line-height: 40px;
	}

	nav .menu ul li a{
		color: #333;
	}

	header .intro h3{
		line-height: 50px;

	}

	.tombol-menu{
		display: flex;
	}

	.berita .area{
		display: block;
	}

	.berita div.area div{
		width: 100%;
	}

	.berita .area .gambar{
		border-radius: 5px 5px 0px 0px;
		height: 200px;
	}

	.tim{
		display: block;
	}

	.tim div{
		width: 100%;
		padding-bottom: 30px;
	}

	.berita{
		display: block;
	}

	.berita div.area{
		width: 100%;
		margin-bottom: 30px;
	}


	footer .layar-dalam{
		display: block;
	}

	footer .layar-dalam div{
		width: 100%;
	}

	footer .layar-dalam div h5{
		margin-top: 30px;
		margin-bottom: 10px;
	}

}